.form-wrap{
    width: 50vw;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(184, 184, 184);
}
.btn-wrap{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.btn-wrap button{
    width: 100%;
}

/* Mobile */
@media only screen and (max-width: 800px){
    .form-wrap{
        width: 90vw;
    }
}


/* Windows */
@media only screen and (min-width: 800px){
    .form-wrap{
        padding: 30px;
    }
}