.top-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 1.5em;
    padding: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #001529, #003d72);
    color: white;
}
.top-brand-text{
    display: flex;
    gap: 10px;
    align-items: center;
}
.top-brand-text p{
    font-size: 1.5em;
    font-weight: bold;
}
.text-solution{
    font-weight: bold;
    position: relative;
}
.hiasan{
    display: flex;
    opacity: .5;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}
.hiasan1{
    width: 20px;
    height: 20px;
    border: 2px solid yellow;
    border-radius: 50%;
}
.list-layanan{
    padding: 20px 40px;
    text-align: justify;
    line-height: 2;
    margin: 50px auto;
    box-sizing: border-box;
}
.pengantar p{
    margin-top: 10px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.list-item{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgb(153, 153, 153);
    min-width: 270px;
    cursor: pointer;
}
.list-item h2{
    text-align: center;
    font-size: 1.2em;
    padding: 0 0 20px 0;
}
.list-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    color: green;
    line-height: 1.5;
}
.benefits{
    font-style: italic;
    line-height: 1.2;
    font-size: 13px;
}
.text-muted{
    opacity: .7;
    font-size: 12px;
}

/* Form */
.form-wrap{
    width: 50vw;
    margin: 100px auto;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(179, 179, 179);
}
.div-btn{
    width: 80%;
    margin: 20px auto;
}




/* Mobile */
@media only screen and (max-width: 800px){
    .top-wrap{
        height: 80vh;
    }
    .top-brand-text{
        padding: 10px;
        border-bottom: 2px solid blue;
        justify-content: center;
        flex-wrap: wrap;
    }
    .form-wrap{
        width: 80vw;
        padding: 20px;
    }
    .div-btn{
        width: 100%;
    }
}

/* Window */
@media only screen and (min-width: 800px){
    .top-wrap{
        height: 60vh;
    }
    .soltext{
        width: 50vw;
    }
}
